.section-wrapper {
    padding-top: 1.875rem;
    background-color: #495e57;

    .section-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3.5rem;
        max-width: 61.75rem;
        width: 90%;
        margin: 0 auto;

        .hero-content {
            grid-column: 1;

            h1 {
                color: #f4ce14;
                font-size: 3.5rem;
                height: 2.5rem;
                line-height: 2.5rem;
            }

            h2 {
                color: #ffffff;
                font-size: 2.25rem;
                height: 2.25rem;
                line-height: 2.25rem;
            }

            p {
                margin-top: 1.5rem;
                color: #ffffff;
                font-size: 1.125rem;
            }

            .hero-content-reserve-btn {
                display: inline-block;
                margin-top: 2rem;
                height: 50px;
                line-height: 50px;
            }

        }

        .hero-image {
            grid-column: 2;
            width:100%;
            height: 24rem;
            margin-bottom: -4.375rem;
            justify-self: end;
            border-radius: 1rem;
            object-fit: cover;
        }
    }
}

.button-primary {
    padding: 0 2rem;
    border-radius: 2rem;
    border: 2px solid #f4ce14;
    cursor: pointer;
}

@media (max-width: 792px) {
    .section-wrapper {
        .section-container {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;

            .hero-content {
                grid-row: 1;
            }

            .hero-image {
                grid-column: 1;
                grid-row: 2;
            }
        }
    }
}
