
.footer {

    display: flex;
    align-items: flex-start;

    box-sizing: border-box;
    padding: 100px 150px;

    /* Primary Green */
    background: #495E57;

    .footer-logo-wrapper {
        margin-right: 70px;
        img {
            width: 149px;
            height: 261px;
        }
    }

    .footer-links-wrapper {
        flex-grow: 1;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        color: #EDEFEE;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            line-height: 31px;
            padding-left: 0;

            li {
                font-size: 20px;
                font-weight: 400;
                list-style: none;

                a {
                    text-decoration: none;
                    color: #EDEFEE;
                }
            }
        }

        &>div {
            margin-top: 10px;
            margin-bottom: 20px;
        }

    }

}

@media (max-width: 915px) {
    .footer {
        // flex-direction: column;
        padding: 20px 30px;

        .footer-links-wrapper {
            flex-direction: column;
            ul {
                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 715px) {
    .footer {
        flex-direction: column;
    }
}