.booking-form-wrapper {
    margin-top: 20px;

    .booking-form-items {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
}

.button-primary {
    padding: 0 2rem;
    border-radius: 2rem;
    border: 2px solid #f4ce14;
    cursor: pointer;
}

@media (max-width: 792px) {
    .booking-form-wrapper {
        .booking-form-items {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
